геокодер.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0,10,20,30,40,50 * * * *"
            }
          ]
        }
      },
      "id": "9e7a5e10-0759-45ef-ae5c-fb554b8b1d4e",
      "name": "Запуск по расписанию",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1424,
        208
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fFPGikkXnObV1DKeVPwlRniW4EUK1pVRxMziUV3DCJI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Сделки"
        },
        "options": {}
      },
      "id": "46057cf8-7793-4cc3-86fc-64ba09f7ab78",
      "name": "Читать таблицу сделок",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -1232,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QnfYwUgEaPqxKAaA",
          "name": "Google Sheets Alexandr"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  \n  const address = item['Адрес'] || item.address || '';\n  const filial = item['Филиал'] || item.filial || '';\n  \n  if (address && address.trim() !== '' && (!filial || filial.trim() === '')) {\n    results.push({\n      json: {\n        address: address,\n        lead_id: item['ID сделки'] || item.lead_id || ''\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "ea9214db-7b22-4b27-b0fb-f78dc535a74c",
      "name": "Фильтр строк без филиала",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "54fd7cb2-65dd-4783-9843-0715f78c8f91",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -816,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet address = item.address || '';\nconst lead_id = item.lead_id || '';\n\nfunction normalizeAddress(addr) {\n  let normalized = addr.trim();\n  \n  normalized = normalized.replace(/\\bСамара\\b/gi, '');\n  \n  normalized = normalized.replace(/[,.;]\\s*(подъезд|под|п)\\s*\\d+.*$/gi, '');\n  normalized = normalized.replace(/[,.;]\\s*(этаж|эт)\\s*\\d+.*$/gi, '');\n  normalized = normalized.replace(/[,.;]\\s*(квартира|кв|кварт)\\.?\\s*\\d+.*$/gi, '');\n  normalized = normalized.replace(/[,.;]\\s*(домофон|дом)\\.?\\s*\\d+.*$/gi, '');\n  normalized = normalized.replace(/[,.;]\\s*код\\s*\\d+.*$/gi, '');\n  \n  normalized = normalized.replace(/\\.(\\s*(подъезд|под|п|этаж|эт|квартира|кв|домофон|дом|код)).*$/gi, '');\n  \n  normalized = normalized.replace(/\\s+(квартира|кв|кварт)\\.?\\s*\\d+.*$/gi, '');\n  normalized = normalized.replace(/\\s+(подъезд|под|п)\\.?\\s*\\d+.*$/gi, '');\n  normalized = normalized.replace(/\\s+(этаж|эт)\\.?\\s*\\d+.*$/gi, '');\n  normalized = normalized.replace(/\\s+(домофон|дом)\\.?\\s*\\d+.*$/gi, '');\n  normalized = normalized.replace(/\\s+код\\s*\\d+.*$/gi, '');\n  \n  normalized = normalized.replace(/\\s+/g, ' ').trim();\n  \n  const streetMatch = normalized.match(/^([а-яёА-ЯЁ\\s-]+)\\s+(\\d+[а-яёА-ЯЁ]?)/);\n  if (streetMatch) {\n    const streetName = streetMatch[1].trim();\n    const houseNumber = streetMatch[2];\n    \n    const hasStreetWord = /\\b(улица|ул|проспект|пр|переулок|пер|площадь|пл|бульвар|б-р|шоссе|ш|тупик|туп|проезд|пр-д)\\.?\\b/i.test(streetName);\n    \n    if (!hasStreetWord) {\n      normalized = `улица ${streetName} ${houseNumber}`;\n    } else {\n      normalized = `${streetName} ${houseNumber}`;\n    }\n  }\n  \n  normalized = normalized.replace(/\\s+/g, ' ').trim();\n  \n  return normalized;\n}\n\nconst normalizedAddress = normalizeAddress(address);\n\nconsole.log(`Исходный адрес: ${address}`);\nconsole.log(`Нормализованный адрес: ${normalizedAddress}`);\n\nreturn [{\n  json: {\n    address: normalizedAddress,\n    original_address: address,\n    lead_id: lead_id\n  }\n}];"
      },
      "id": "d1d043f9-de35-4866-a068-977fc38ddfc4",
      "name": "Нормализатор адреса",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        208
      ]
    },
    {
      "parameters": {
        "url": "=https://geocode-maps.yandex.ru/1.x/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "69cd75e4-6d8c-4822-9d97-ead26618f1aa"
            },
            {
              "name": "geocode",
              "value": "=Самара, {{ $json.address }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "lang",
              "value": "ru_RU"
            },
            {
              "name": "results",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "5d91436d-b9a5-4aeb-b180-7d389f610713",
      "name": "Яндекс Геокодер",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const geocodeResponse = $input.first().json;\nconst normalizerData = $('Нормализатор адреса').first().json;\n\nlet lat = null;\nlet lng = null;\nlet city = '';\nconst original_address = normalizerData.original_address || '';\nconst lead_id = normalizerData.lead_id || '';\n\ntry {\n  const geoObject = geocodeResponse.response?.GeoObjectCollection?.featureMember?.[0]?.GeoObject;\n  \n  if (geoObject && geoObject.Point && geoObject.Point.pos) {\n    const precision = geoObject.metaDataProperty?.GeocoderMetaData?.precision;\n    \n    if (precision === 'exact' || precision === 'number' || precision === 'near' || precision === 'range') {\n      const coords = geoObject.Point.pos.split(' ');\n      lng = parseFloat(coords[0]);\n      lat = parseFloat(coords[1]);\n      \n      const components = geoObject.metaDataProperty?.GeocoderMetaData?.Address?.Components || [];\n      const localityComponent = components.find(c => c.kind === 'locality');\n      if (localityComponent) {\n        city = localityComponent.name;\n      }\n    } else {\n      console.log(`Пропускаем адрес с низкой точностью. Precision: ${precision}, Адрес: ${original_address}`);\n    }\n  }\n} catch (e) {\n  console.log('Ошибка парсинга координат:', e.message);\n}\n\nreturn [{\n  json: {\n    'ID сделки': lead_id,\n    'Адрес': original_address,\n    city: city,\n    lat: lat,\n    lng: lng\n  }\n}];"
      },
      "id": "63266afb-186d-4f67-8a81-56bcd3e60921",
      "name": "Извлечь координаты",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst zones = {\n  'волгарь': [\n    { lat: 53.210638, lng: 50.116733 },\n    { lat: 53.199608, lng: 50.130994 },\n    { lat: 53.199893, lng: 50.131768 },\n    { lat: 53.191756, lng: 50.142221 },\n    { lat: 53.185773, lng: 50.146686 },\n    { lat: 53.180631, lng: 50.158019 },\n    { lat: 53.170265, lng: 50.148065 },\n    { lat: 53.167572, lng: 50.199779 },\n    { lat: 53.124124, lng: 50.201410 },\n    { lat: 53.089610, lng: 50.175535 },\n    { lat: 53.088532, lng: 50.154286 },\n    { lat: 53.097931, lng: 50.072598 },\n    { lat: 53.095119, lng: 50.027259 },\n    { lat: 53.097196, lng: 50.021798 },\n    { lat: 53.103339, lng: 50.030215 },\n    { lat: 53.128907, lng: 50.015585 },\n    { lat: 53.133776, lng: 50.001750 },\n    { lat: 53.124374, lng: 49.974612 },\n    { lat: 53.125592, lng: 49.962977 },\n    { lat: 53.134398, lng: 49.966374 },\n    { lat: 53.142628, lng: 49.985087 },\n    { lat: 53.146349, lng: 49.981268 },\n    { lat: 53.153985, lng: 49.978937 },\n    { lat: 53.210785, lng: 50.116563 }\n  ],\n  'гагарина': [\n    { lat: 53.281805, lng: 50.187939 },\n    { lat: 53.269917, lng: 50.221532 },\n    { lat: 53.263032, lng: 50.235203 },\n    { lat: 53.257053, lng: 50.245683 },\n    { lat: 53.250493, lng: 50.247636 },\n    { lat: 53.244821, lng: 50.251465 },\n    { lat: 53.224682, lng: 50.280117 },\n    { lat: 53.223210, lng: 50.289050 },\n    { lat: 53.220373, lng: 50.288809 },\n    { lat: 53.201078, lng: 50.312149 },\n    { lat: 53.187555, lng: 50.281952 },\n    { lat: 53.168020, lng: 50.195796 },\n    { lat: 53.172657, lng: 50.150414 },\n    { lat: 53.180983, lng: 50.157836 },\n    { lat: 53.185694, lng: 50.146954 },\n    { lat: 53.192065, lng: 50.141979 },\n    { lat: 53.199927, lng: 50.131908 },\n    { lat: 53.199717, lng: 50.130926 },\n    { lat: 53.211995, lng: 50.115185 },\n    { lat: 53.281838, lng: 50.187805 }\n  ],\n  'офис': [\n    { lat: 53.220567, lng: 50.289242 },\n    { lat: 53.253195, lng: 50.367179 },\n    { lat: 53.267538, lng: 50.333363 },\n    { lat: 53.291595, lng: 50.333352 },\n    { lat: 53.288164, lng: 50.352716 },\n    { lat: 53.283958, lng: 50.352766 },\n    { lat: 53.285163, lng: 50.375691 },\n    { lat: 53.289384, lng: 50.390165 },\n    { lat: 53.283208, lng: 50.402263 },\n    { lat: 53.284495, lng: 50.459341 },\n    { lat: 53.252900, lng: 50.475719 },\n    { lat: 53.233407, lng: 50.487450 },\n    { lat: 53.181351, lng: 50.335931 },\n    { lat: 53.220420, lng: 50.289410 }\n  ],\n  'новая самара': [\n    { lat: 53.372307, lng: 50.176981 },\n    { lat: 53.376795, lng: 50.182747 },\n    { lat: 53.376783, lng: 50.188482 },\n    { lat: 53.370222, lng: 50.196998 },\n    { lat: 53.366867, lng: 50.212789 },\n    { lat: 53.360664, lng: 50.218781 },\n    { lat: 53.356225, lng: 50.230003 },\n    { lat: 53.353185, lng: 50.228899 },\n    { lat: 53.349226, lng: 50.233231 },\n    { lat: 53.344928, lng: 50.264629 },\n    { lat: 53.348226, lng: 50.286181 },\n    { lat: 53.344696, lng: 50.293054 },\n    { lat: 53.345119, lng: 50.303940 },\n    { lat: 53.349491, lng: 50.315491 },\n    { lat: 53.360619, lng: 50.315908 },\n    { lat: 53.352477, lng: 50.327423 },\n    { lat: 53.356408, lng: 50.327264 },\n    { lat: 53.354803, lng: 50.336386 },\n    { lat: 53.357984, lng: 50.339048 },\n    { lat: 53.358570, lng: 50.342615 },\n    { lat: 53.356305, lng: 50.345074 },\n    { lat: 53.358269, lng: 50.352176 },\n    { lat: 53.339987, lng: 50.355334 },\n    { lat: 53.340443, lng: 50.365928 },\n    { lat: 53.338755, lng: 50.369129 },\n    { lat: 53.332715, lng: 50.361703 },\n    { lat: 53.325456, lng: 50.378079 },\n    { lat: 53.320014, lng: 50.370292 },\n    { lat: 53.318814, lng: 50.345386 },\n    { lat: 53.312589, lng: 50.345386 },\n    { lat: 53.308468, lng: 50.357357 },\n    { lat: 53.303124, lng: 50.359161 },\n    { lat: 53.302296, lng: 50.375472 },\n    { lat: 53.288767, lng: 50.384052 },\n    { lat: 53.284372, lng: 50.353186 },\n    { lat: 53.288028, lng: 50.353720 },\n    { lat: 53.291126, lng: 50.345474 },\n    { lat: 53.292072, lng: 50.333523 },\n    { lat: 53.268084, lng: 50.333122 },\n    { lat: 53.253211, lng: 50.366790 },\n    { lat: 53.220462, lng: 50.288576 },\n    { lat: 53.223157, lng: 50.289251 },\n    { lat: 53.224532, lng: 50.285277 },\n    { lat: 53.224831, lng: 50.280203 },\n    { lat: 53.231092, lng: 50.270885 },\n    { lat: 53.244988, lng: 50.251701 },\n    { lat: 53.250634, lng: 50.247459 },\n    { lat: 53.257386, lng: 50.246271 },\n    { lat: 53.269815, lng: 50.221880 },\n    { lat: 53.282085, lng: 50.187943 },\n    { lat: 53.306696, lng: 50.194171 },\n    { lat: 53.306750, lng: 50.195355 },\n    { lat: 53.343850, lng: 50.194028 },\n    { lat: 53.361757, lng: 50.186755 },\n    { lat: 53.372082, lng: 50.177111 }\n  ]\n};\n\nfunction pointInPolygon(point, polygon) {\n  let inside = false;\n  const x = point.lng;\n  const y = point.lat;\n  \n  for (let i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n    const xi = polygon[i].lng;\n    const yi = polygon[i].lat;\n    const xj = polygon[j].lng;\n    const yj = polygon[j].lat;\n    \n    const intersect = ((yi > y) !== (yj > y)) &&\n      (x < (xj - xi) * (y - yi) / (yj - yi) + xi);\n    \n    if (intersect) inside = !inside;\n  }\n  \n  return inside;\n}\n\nlet filial = '';\nlet finalLat = null;\nlet finalLng = null;\nconst city = item.city || '';\n\nif (item.lat && item.lng) {\n  const point = { lat: item.lat, lng: item.lng };\n  \n  for (const [zoneName, polygon] of Object.entries(zones)) {\n    if (pointInPolygon(point, polygon)) {\n      filial = zoneName;\n      finalLat = item.lat;\n      finalLng = item.lng;\n      break;\n    }\n  }\n  \n  if (!filial) {\n    console.log(`Координаты не попали ни в одну зону. Адрес: ${item['Адрес']}, Город: ${city}, Координаты: ${item.lat}, ${item.lng}`);\n  }\n}\n\nreturn [{\n  json: {\n    'ID сделки': item['ID сделки'],\n    'Филиал': filial,\n    lat: finalLat,\n    lng: finalLng\n  }\n}];"
      },
      "id": "3f255965-d97a-4244-8af8-4665e0750cec",
      "name": "Определить зону доставки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        208
      ]
    },
    {
      "parameters": {},
      "id": "1f892103-a05f-4c9b-b72e-e60076beae67",
      "name": "Задержка перед обновлением",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        208
      ],
      "webhookId": "8e70adbb-aa52-4f57-91ae-d9f5d2cdd8ae"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fFPGikkXnObV1DKeVPwlRniW4EUK1pVRxMziUV3DCJI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Сделки"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "ID сделки"
          ],
          "schema": [
            {
              "id": "ID сделки",
              "displayName": "ID сделки",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Филиал",
              "displayName": "Филиал",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lng",
              "displayName": "lng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "699f1ad0-308d-4fdf-9454-2cd20a621f72",
      "name": "Обновить филиал в таблице",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        544,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QnfYwUgEaPqxKAaA",
          "name": "Google Sheets Alexandr"
        }
      }
    }
  ],
  "connections": {
    "Запуск по расписанию": {
      "main": [
        [
          {
            "node": "Читать таблицу сделок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читать таблицу сделок": {
      "main": [
        [
          {
            "node": "Фильтр строк без филиала",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фильтр строк без филиала": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Нормализатор адреса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нормализатор адреса": {
      "main": [
        [
          {
            "node": "Яндекс Геокодер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Яндекс Геокодер": {
      "main": [
        [
          {
            "node": "Извлечь координаты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Извлечь координаты": {
      "main": [
        [
          {
            "node": "Определить зону доставки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Определить зону доставки": {
      "main": [
        [
          {
            "node": "Задержка перед обновлением",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задержка перед обновлением": {
      "main": [
        [
          {
            "node": "Обновить филиал в таблице",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновить филиал в таблице": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f62e2bf98570af5c7cb427f249138c67810dcde6976205e20c9156c548f86fa"
  }
}